body{
    margin: 0;
    font-family: 'JetBrains Mono';  
}


/* Barra de Navegação */
.navbar-container{
    height: 100px;
    width: 100%;
    background-color: #261616;
    position: fixed;
    z-index: 10000;
}



/* Hero */
.hero-container{
    width: 100%;
    height: 764px;
    background-image: url("/images/pexels-pixabay-38519\ 1.png");
    background-position-x: -10px;
    background-size: 110%;
    object-fit: cover;
}

.hero-content{
    display: flex;
    width: 970px;
    margin-left: 9vw;
    padding-top: 210px;
    color: white;
}

.hero-content hr{
    width: 7px;
    height: 333px;
    border: none;
    background-color: white;
    margin: 0;
}

.hero-text-buttons{
    margin-left: 16px;
}

.hero-content h1{
    font-size: 58px;
    width: 767px;
    margin: 0;
}

.hero-buttons button{
    margin-top: 16px;
    font-size: 32px;
    border-radius: 13px;
    border: none;
    font-weight: bold;
}

.hero-button-solucoes{
    width: 248px;
    height: 80px;
    color: white;
    background-color: #A3AB98;
    box-shadow: 0px 12px #83887c, 0px 20px 15px #000000;
    cursor: pointer;
}

.hero-button-contato{
    width: 353px;
    height: 80px;
    color: #5A3938;
    box-shadow: 0px 12px #DFC5C5, 0px 20px 15px #000000;
    cursor: pointer;
}




/* Serviços */
.servicos-container{
    width: 100%;
    position: relative;
    top: -130px;
}

.servicos-content-container{
    width: 1017px;
    height: 281px;
    border-radius: 85px;
    background-color: #473232;
    margin-left: auto;
    margin-right: auto;
}

.servicos-content{
    display: flex;
    justify-content: space-between;
    width: 790px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-left: auto;
}

.servico{
    display: flex;
    
}

.servico-texts{
    color: white;
    width: 288px;
}

.servico-texts h2{
    margin: 0;
}

.servico img{
    width: 84px;
    height: 84px;
    margin-top: auto;
    margin-bottom: auto;
} 

.servico hr{
    width: 2px;
    height: 158px;
    background-color: white;
    border: none;
    margin: 0px 10px;
}





/* UNICAMP */

.unicamp-container{
    width: 100%;
}

.unicamp-content{
    width: 1052px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.unicamp-texts{
    width:600px;
}
.unicamp-texts h2{
    font-size: 32px;
}   
.unicamp-texts p{
    text-align: justify;
    font-size: 20px;
}




/* PORQUE NOS ESCOLHER*/
.porque-container{
    background-color: #F6F3F3;
    width: 100%;
    margin-top: 130px;
    padding-bottom: 70px;
}

.porque-content{
    width: 1052px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.porque-texts{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.porque-titulo{
    width: 100%;
    text-align: center;
}

.porque-titulo h1{
    font-size: 40px;
}

.porque-motivo h2{
    font-size: 24px;
}

.porque-motivo p{
    font-size: 20px;
    text-align: justify;
    
}

.porque-motivo{
    width: 300px;
}



/* Seção de Soluções */

.solucoes-container{
    width: 100%;
    background-color: #EFE5E5;
    padding-top: 40px;
    padding-bottom: 80px;
}

.solucoes-content{
    width: 874px;
    margin-left: auto;
    margin-right: auto;
}

.solucoes-titulo{
    text-align: center;
}

.solucoes-titulo h1{
    font-size: 40px;
}

.solucoes-solucao{
    height: 397px;
    width: 358px;
    padding: 30px;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0px 15px 10px -2px #b8b8b8;
}

.solucoes-texts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.onepage{
    background-color: #D2D5AF;
}

.corporativo{
    background-color: #A3AB98;
}

.completo{
    background-color: #847B6D;
}

.sistema{
    background-color: #67584D;
}

.div-solucoes-button{
    width: 100%;
    display: flex;
}

.solucoes-button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 0px #cccccc;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}



/* Seção de Repertorio */
.repertorio-container{
    width: 100%;
    padding-top: 40px;
}

.repertorio-content{
    width: 1052px;
    margin-left: auto;
    margin-right: auto;
}

.repertorio-titulo h1{
    font-size: 40px;
}

.repertorio{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.repertorio-left-content{
    width: 500px;
    text-align: justify;
    padding-left: 20px;
}

.repertorio-left-content h2{
    margin-top: 0;
    font-size: 32px;
    text-align: start;
}

.repertorio-link{
    font-weight: 600;
}

.first-imagem-repertorio{
    display: none;
}

.first-imagem-repertorio-ativo{
    display: block;
    width: 458px;
    height: 235px;
}

.repertorio-first-slide-control{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.repertorio-first-slide-control button{
    background-color: #A3AB98;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.first-slide-pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #D2D5AF;
    margin-top: 12.5px;
}

.first-slide-pointer-ativo{
    background-color: #A3AB98;
}